@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

a {
  color: black;
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }

  body {
    background-color: #0F0F12;
  }

  a {
    color: white;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

a:hover, a:focus {
  color: purple !important;
}

a:hover h2, a:focus h2 {
  color: purple !important;
}
